html{
    background: #000;
}
body{
    background: #fff;
}

#header{
    height: 90px;
    background: #000;
    padding-left: 60px;
    padding-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 5px #ccc;
    color: white;
}

#content{
    min-height: 420px;
    margin-bottom: 20px;
    padding-left: 30px;
}

ul.tabs > li{
    float:none;
    position:relative;
    left:3px;
}

ul.tabs > li > a{
    border-radius: 4px 0px 0px 4px;
}

ul.tabs > li > a:hover{
    border: 1px solid transparent;
    border-right: 0;
}

#sidebar ul.tabs > li.active > a{
    border: #DDD 1px solid;
    border-right-color: white;
    border-radius: 4px 0px 0px 4px;
    position: relative;
    left: 0.9px;
}

#sidebar{
    margin-left: 20px;
    padding-top: 20px;
}

#content{
    border-left: 1px solid #DDD;
}

ul.tabs {
    border-bottom: 0px;
}
#footer{
    background-color: #000;
    height: 40px;
    padding-top: 20px;
    text-align: center;
}
.object-navigation a{
    text-decoration: underline
}

.object-actions{
    float:right;
    margin-right: 30px;
}

.object-actions a{
    text-decoration: underline;
}

.object-details.ui-widget{
    margin-top: 10px;
    margin-bottom: 30px;
}
.object-details.ui-accordion{
    font-size: 13px;
}

.object-details h3{
    border: 0;
    background: none;
}
.object-details .ui-widget-content{
    border: 0;
}

#login-box{
    text-align: right;
}
#login-box a{
    color:grey;
}