div#notaccordion h3{
    padding-left: 15px;

}

ul#phases {
    list-style: none;
    margin-left: 0;
}

ul#phases li {
    padding: 1px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 5px;
    background: right center url('../images/arrowupdown.png') no-repeat;
}

.ui-accordion-content a{
    text-decoration: underline;
}

table.deliverables tr{
    border: 1px solid black;
}

table.deliverables tr td:last-child{
    background: right center url('../images/arrowupdown.png') no-repeat;
}